*.agdai
MAlonzo/**

output/

src/funcs/__pycache__/

src/pest_source/

src/ies-data-prep/

src/.vscode/

src/__pycache__/

.vscode/

src/notebooks/.ipynb_checkpoints/parallel_source-checkpoint.ipynb

src/2D-example/pest_source/

src/2D-example/example_2_work_1_pars/

src/2D-example/example_1_work_1_pars/

src/2D-example/example_1_work_2_pars/

src/2D-example/example_2_work_2_pars/

src/notebooks/.ipynb_checkpoints/
