*.agdai
MAlonzo/**

output/

src/funcs/__pycache__/

src/pest_source/

src/ies-data-prep/

src/.vscode/

src/__pycache__/

.vscode/

src/notebooks/.ipynb_checkpoints/parallel_source-checkpoint.ipynb

src/2D-example/pest_source/

src/2D-example/example_2_work_1_pars/

src/2D-example/example_1_work_1_pars/

src/2D-example/example_1_work_2_pars/

src/2D-example/example_2_work_2_pars/

src/notebooks/.ipynb_checkpoints/

*.cfg

predict_uq_output.zip

src/predict_uq_src.zip

src/load_uncertainty_estimates/126001A_concentrations_conditions.csv

src/load_uncertainty_estimates/126001A_din_concentrations_conditions.csv

src/load_uncertainty_estimates/126001A_flows.csv

src/load_uncertainty_estimates/condition uc bounds.csv

src/load_uncertainty_estimates/DSITI GBRI5 WQ Report_Results final 2017_18_V2.xlsx

src/load_uncertainty_estimates/flow unc bounds Qian.csv

src/load_uncertainty_estimates/time thresholds.csv

src/2D-example/0107/

src/2D-example/_use_results/

src/load_uncertainty_estimates/na lookup.csv
